<% flash.each do |type, msg| %>
  <div class= "alert alert-danger">
    <%= msg %>
  </div>
<% end %>

<div class="w-50 mx-auto text-center mt-5">
  <h1 class="display-4">Sign in:</h1></br>
  <%= render 'form' %>
</div>