<h1>This are all the events</h1>


<h3>Past events:</h3>
 <ul>
  <% @events_past.each do |event| %>
      <li>
        <%= event.location %>
        <%= event.datetime %>
      </li>
  <% end %>
</ul> 


<h3>Next events:</h3>
 <ul>
  <% @events_future.each do |event| %>
      <li>
        <%= event.location %>
        <%= event.datetime %>
      </li>
  <% end %>
</ul> 