<div class="w-75 mx-auto text-center mt-4">

  <h1 class="display-4">These are all the events</h1>

  <div class="row">
    <div class="col-4">
    <h2 class="my-4"><span class="badge badge-secondary">Past events:</span></h3>
    <ul class="p-0 text-muted">
      <% list_events(@events_past) %>
    </ul> 
    </div>
    <div class="col-8">
    <h2 class="my-4"><span class="badge badge-dark">Future events:</span></h3>
    <ul class="p-0 font-weight-bold">
      <% list_events(@events_future) %>
    </ul>
    </div>
  </div>
</div>