<div class="w-75 mx-auto mt-5">

  <h1 class="text-center"><%= @user.name %>'s Events</h1>
  <h3>My created Events:</h3>
  <div class="row">
    <% something(@user.authored_events) %>
  </div>

  <h3 class="mt-4">My next events:</h3>
  <div class='row'>
  <% next_something(@user.attended_events) %>
  </div>

  <h3 class="mt-4 text-muted">My Past events:</h3>
  <div class='row text-muted'>
    <% nex2(@user.attended_events) %>
  </div>
</div>